* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: var(--light);
}

:root {
    --lightest: #f1dcf8;
    --light: #f4cfff; 
    --mediumlight:	#d896ff;
    --medium: #be29ec;
    --mediumdark: #800080;
    --dark: #660066;
    --darkest: #660066;
   }
   
p {
    font-size: 150%;
}

body {
    background-color: var(--mediumlight);
    
}

header {
    background-color: var(--dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 60px;
    line-height: 43%;
    margin-top: 1%;
    text-shadow: -1px -1px 0 var(--dark), 1px -1px 0 var(--dark), -1px 1px 0 var(--dark), 1px 1px 0 var(--dark);
    text-decoration: underline var(--dark);
    text-decoration-thickness: 1px;
    color: var(--lightest)
}

nav {
    color: var(--light);
    width: 33%;

}

nav ul {
    display:flex;
    align-items: center;
    
}

nav ul li {
    margin-left:5%;
    list-style-type: none;
    width:28%;
}

main {
    display: flex;
    flex-direction: column;

}
/* Styles Section Headers*/
h2 {
    width:100%;
    text-align: left;
    font-weight: bolder;
    font-size: 55px;
    color: var(--dark);
    border-bottom: 3px solid var(--dark);
    display:block;
    text-shadow: -1px -1px 0 var(--light), 1px -1px 0 var(--light), -1px 1px 0 var(--light), 1px 1px 0 var(--light);
}

#about-me {
    display: flex;
    align-items: center;
    margin-top: 5%;
    position:relative;
}

#about-me p {
    margin-right: 8%;
    margin-left: 8%;
    line-height: 150%;
    color: var(--darkest);
    font-weight: 700;
    background-color: var(--mediumlight);
    padding: 2%;
    border:solid;
    border-color: var(--darkest);
}

#about-me-banner {
    position: absolute;
    width: 100%;
    height: 5%;
    background-color: var(--light);
    z-index: -1;
    
}

#projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top:5%;
}

#contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:5%;
}

.card-project {
    width: 44%;
    min-height: 300px;
    display: block;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    border-image: linear-gradient(to top right, rgb(102, 0, 102)50%, rgb(216, 150, 255)75%) 1;
    border-image-width: 5px;
    position: relative;
    background-image:linear-gradient(to top right, rgb(128, 0, 128), rgb(216, 150, 255)75%);
}

#project-main {
    width: 94%;
}

.project-title {
    position:absolute;
    top:70%;
    min-width:15%;
    background-color: var(--dark);
    border-style: solid;
    border-color: var(--dark);
    border-width: 5px;
    line-height: 150%;
    color: var(--lightest);
    
}

.project-link {
    display:block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.card-project .card-text {
    margin-top: 5%;
    margin-left: 5%;
    display:none;
}

.card-project:hover .card-text {
    display:block;
}

#about-me div{
display: flex;
justify-content: space-around;
}

#about-me img{
    width: 70%;
}
