* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: var(--light);
}

:root {
    --light: #efbbff; 
    --mediumlight:	#d896ff;
    --medium: #be29ec;
    --mediumdark: #800080;
    --dark: #660066;
   }

body {
    background-color: var(--mediumlight);
    
}

header {
    background-color: var(--dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    color: var(--light);
    width: 33%;
    
}

nav ul {
    display:flex;
    align-items: center;
    
}

nav ul li {
    margin-left:10%;
    list-style-type: none;
    width:23%
}

main {
    display: flex;
    flex-direction: column;
}

#about-me {
    display: flex;
    align-items: center;
    margin-top: 5%;
}

#projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top:5%;
}

#projects h2 {
    width:100%;
    text-align: center;
}

#contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:5%;
}

.card-project {
    width: 44%;
    min-height: 300px;
    display: block;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    border-style: solid;
    border-color: var(--dark);
    border-width: 5px;
}

#project-main {
    width: 94%;
    border-style: solid;
    border-color: var(--dark);
    border-width: 5px;
}